body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:turquoise;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#entryButton {
  padding: 28px 45px;
  font-size: 27px;
  font-weight: bolder;
  color: #fff;
  background: linear-gradient(to bottom, #1eaebe, #0e96b1);
  border: none;
  border-radius: 73px;
  cursor: pointer;
  box-shadow: inset 12px 9px 9px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s, text-shadow 0.2s;
}

#entryButton:hover {
  background: linear-gradient(to bottom, #3a45dd, #2a89b9);
  transform: translateY(-2px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
